fastapi
uvicorn[standard]
sqlalchemy
alembic
pymysql
cryptography
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
cloudinary
pytesseract
Pillow
pdf2image
google-genai>=1.0.0
python-dotenv
pydantic-settings
pydantic[email]
emails
pytest
httpx
pytest-asyncio
